/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE        &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y      &kp U  &kp I         &kp O    &kp P     &kp BSPC
&kp LEFT_CONTROL  &kp A  &kp S  &kp D         &kp F  &kp G        &kp H      &kp J  &kp K         &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N      &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp TAB
                                &kp LEFT_ALT  &mo 1  &kp SPACE    &kp ENTER  &mo 2  &kp LEFT_GUI
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE        &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PERCENT    &kp CARET  &kp AMPS   &kp ASTRK         &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BSPC
&kp LEFT_CONTROL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5         &kp MINUS  &kp EQUAL  &kp GRAVE         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp BACKSLASH
&kp LEFT_SHIFT    &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp N0         &kp UNDER  &kp PLUS   &kp TILDE         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE
                                              &kp LEFT_ALT  &trans        &kp SPACE      &kp ENTER  &trans     &kp LEFT_COMMAND
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE        &kp F1   &kp F2   &kp F3           &kp F4         &kp F5        &kp F6          &kp F7          &kp F8        &kp F9           &kp F10          &kp BACKSPACE
&kp LEFT_CONTROL  &kp F11  &kp F12  &kp C_VOLUME_UP  &kp C_VOL_DN   &kp K_MUTE    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp HOME         &kp END
&kp LEFT_SHIFT    &trans   &trans   &kp C_BRI_UP     &kp C_BRI_DEC  &trans        &trans          &trans          &kp PAGE_UP   &kp PAGE_DOWN    &kp PRINTSCREEN  &kp DEL
                                    &kp LEFT_ALT     &trans         &kp SPACE     &kp ENTER       &trans          &kp LEFT_GUI
            >;
        };
    };
};
